* {
  user-select: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-width: 1000px;
}

.clearfd a {
  text-decoration: none;
  text-decoration: none;
}

.clearfd::after {
  content: "";
  display: block;
  clear: both;
}

header::before {
  content: "";
  pointer-events: none;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 6px #ccc;
  z-index: 3;
}

header {
  background-color: #fff;
  position: relative;
}
header .logo {
  width: 200px;
  height: 80px;
  float: left;
  display: flex;
  align-items: center;
}
header .head-right {
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-right .header-nav {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
header .head-right .header-nav li {
  width: 100px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: #333333;
}
header .head-right .header-nav .header-nav-dss {
  font-weight: 600;
  color: #013D87;
  position: relative;
}
header .head-right .header-nav .header-nav-dss a {
  color: #013D87;
}
header .head-right .header-nav .header-nav-dss::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #013D87;
  position: absolute;
  bottom: 0;
  left: 0;
}
header .head-right .showUser {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  align-items: center;
}
header .head-right .showUser P {
  margin-right: 10px;
}

section {
  display: flex;
}
section .wrop-left {
  width: 200px;
  height: 100%;
  flex-shrink: 0;
  background-color: #fff;
}
section .wrop-left .wrop-user {
  background-color: #fff;
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}
section .wrop-left .wrop-user div {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .wrop-left .wrop-user div span {
  color: #333;
  font-size: 20px;
  margin-left: 10px;
}
section .wrop-left .wrop-left-nav li {
  border-top: 1px solid #ECECEC;
  width: 100%;
  height: 49px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}
section .wrop-left .wrop-left-nav li:hover {
  background-color: rgba(142, 183, 233, 0.2);
  cursor: pointer;
}
section .wrop-left .wrop-left-nav li p {
  width: 50%;
}
section .wrop-left .wrop-left-nav li p a {
  text-decoration: none;
}
section .wrop-left .wrop-left-nav li p span {
  color: #333;
  font-size: 14px;
  margin-left: 10px;
}
section .wrop-left .wrop-left-nav .nav-dss {
  background-color: rgba(142, 183, 233, 0.2);
  position: relative;
}
section .wrop-left .wrop-left-nav .nav-dss::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: rgba(1, 61, 135, 0.5);
  position: absolute;
  left: 0;
}
section .wrop-right {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 20px;
  background-color: #f7f7f7;
}
section .wrop-right .promptBox {
  margin-top: 20px;
  margin-bottom: 22px;
  display: flex;
  width: 1680px;
  height: 50px;
  background-color: #FFEFEA;
  align-items: center;
}
section .wrop-right .promptBox span {
  margin-left: 20px;
  margin-right: 7px;
}
section .wrop-right .promptBox span svg {
  vertical-align: sub;
}
section .wrop-right .promptBox p {
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}
section .wrop-right .contain {
  display: flex;
  flex-direction: column;
  width: 1680px;
  margin-bottom: 38px;
  background-color: #ffffff;
}
section .wrop-right .contain .location {
  width: 100%;
  height: 77px;
  line-height: 77px;
  padding-left: 20px;
  border-bottom: 2px solid #f7f7f7;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}
section .wrop-right .contain .step {
  display: flex;
  padding-top: 14px;
  width: 1200px;
}
section .wrop-right .contain .step .stepnum {
  position: relative;
  margin-right: 212px;
  display: flex;
  width: 120px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .wrop-right .contain .step .stepnum .circle {
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
section .wrop-right .contain .step .stepnum .stepText {
  text-align: center;
  font-size: 10px;
  color: #ff6735;
}
section .wrop-right .contain .step .stepnum .deshade {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 76px;
  content: "";
  width: 298px;
  height: 0px;
  border: dashed 1px #333333;
}
section .wrop-right .contain .step .stepnum:nth-child(1) .circle {
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
section .wrop-right .contain .step .stepnum:nth-child(1) .stepText {
  text-align: center;
  font-size: 10px;
  color: #333333;
}
section .wrop-right .contain .nextButton-box {
  justify-content: center;
  display: flex;
  text-align: center;
}
section .wrop-right .contain .nextButton-box .nextButton {
  line-height: 32px;
  overflow: hidden;
  width: 120px;
  height: 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

section .wrop-left-nav .nav-dss {
  position: relative;
}
section .wrop-left-nav .nav-dss .nav-dss-tips {
  position: absolute;
  right: 5px;
}
section .wrop-right {
  padding-top: 20px;
}
section .wrop-right .pledgeeInfo {
  color: #666666;
  font-size: 18px;
  display: inline-block;
  margin: 45px 0 25px 40px;
}
section .wrop-right .pledgeeInfo span {
  line-height: 13px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
}
section .wrop-right .pledgeeInfomation {
  display: inline-block;
  margin-left: 85px;
}
section .wrop-right .pledgeeInfomation .catalogue span {
  display: inline-block;
  text-align: right;
  color: #999999;
  font-size: 14px;
  display: inline-block;
  margin: 10px 5px;
  padding: 0 10px;
}

.wrop-left-bg {
  background-color: #f7f7f7;
  padding-top: 20px;
}

.contain {
  display: flex;
}
.contain .nextButton {
  margin-top: 170px;
  margin-bottom: 40px;
  color: #fff;
  background-color: #013D87;
}/*# sourceMappingURL=audits.css.map */
.shade {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.shade .submit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 174px;
  background: #fff;
  border-radius: 8px;
  margin: 465px auto;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 3px 3px 13px -4px #666;
}
.shade .submit-box p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 21px;
}
.shade .submit-box p:nth-child(2) {
  font-size: 14px;
  color: #333;
  line-height: 19px;
  margin-bottom: 21px;
}
.shade .submit-box .buto {
  width: 390px;
  display: flex;
  justify-content: space-between;
}
.shade .submit-box .buto button {
  width: 80px;
  height: 32px;
  border: 0;
  border-radius: 3px;
  background: #999;
  color: #fff;
}
.shade .submit-box .buto button:nth-child(1) {
  background: #2C9DFC;
}/*# sourceMappingURL=audit.css.map */