@import "./outerStyle";
@import "./medlliStyle";
@import "./CTS_TrademarkRegistration_style";
$move: #013d87;
$commnd: #fff;
header{
    .head-right{
        .personal-infomation-mation {
                position: absolute;
                display: none;
                flex-direction: column;
                width: 120px;
                height: 120px;
                // position: absolute;
                top: 71px;
                right: 8px;
                background: $commnd;
                span {
                  display: block;
                  height: 40px;
                  width: 100%;
                  text-align: center;
                  line-height: 40px;
                  font-size: 16px;
                  color: #666;
                  position: relative;
                  z-index: 3;
                }
                span:hover {
                  background: $move;
                  color: $commnd;
                }
                a:nth-child(2) {
                  border-top: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                  height: 38px;
                  line-height: 38px;
                }
              }
    }
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}
// 设置JS
// 蒙版
.shade {
  // 已经隐藏
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 1633px;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  .submit-box {
    width: 450px;
    height: 270px;
    background: #fff;
    border-radius: 8px;
    margin: 404px auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 3px 3px 13px -4px #666;
    .submit-title {
      margin-bottom: 31px;
      svg {
        vertical-align: middle;
      }
      span {
        color: #f5222d;
        font-size: 12px;
      }
    }
  }
  .putbox {
    font-size: 14px;
    margin-bottom: 99px;
    svg {
      vertical-align: middle;
    }
    span {
      color: #333;
    }
    select {
      width: 250px;
      height: 32px;
      border-radius: 4px;
      color: #666;
      padding: 6px 10px;
      appearance: none;
      border: 1px solid #d9d9d9;
    }
  }
  .putbox::after {
    content: "";
    border-top: 6px solid #666;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: relative;
    top: 13px;
    right: 23px;
  }
  .buto {
    width: 390px;
    display: flex;
    justify-content: space-between;
    button {
      width: 80px;
      height: 32px;
      border: 0;
      border-radius: 3px;
      background: #999;
      color: #fff;
    }
    button:nth-child(1) {
      background: #2c9dfc;
    }
  }
}

.cont-bottom {
  background-color: #fff;
  .currentLocation {
    height: 76px;
    padding-left: 20px;
    line-height: 76px;
    border-bottom: 1px solid #f7f7f7;
    color: #666666;
  }
  .wrap-cont {
    width: 72.16%;
    min-width: 830px;
    margin-top: 45px;
    // background-color: aquamarine;
    margin-left: calc(100% / 2 - 100px - (72.16% / 2));
    .wrap-cont-layer {
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      .layer-title {
        width: 33.33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        line-height: 32px;
        margin-right: 14px;
        p {
          position: relative;
          span {
            color: red;
            position: absolute;
            left: -9px;
            top: 3px;
          }
        }
      }
      .layer-title-Pre {
        align-items: flex-start;
        margin-top: -8px;
      }
      .layer-ipt {
        // flex-grow: 1;
        display: flex;
        position: relative;
        input {
          width: 350px;
          height: 32px;
          font-size: 14px;
          border: 1px solid #e2e2e2;
          border-radius: 5px;
          text-indent: 10px;
          outline: none;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
          color: #bbbbbb;
        }
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
          color: #bbbbbb;
        }
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
          color: #bbbbbb;
        }

        textarea {
          width: 350px;
          height: 100px;
          border-radius: 5px;
          border: 1px solid #e2e2e2;
          line-height: 30px;
          font-size: 14px;
          text-indent: 10px;
          outline: none;
          resize: none;
        }
        .download {
          // height: 110px;
          margin-left: 10px;
          display: flex;
          align-items: flex-end;
          font-size: 12px;
          a {
            color: #3685ff;
          }
        }
        .trademarkTyleId {
          width: 250px;
        }
        .layer-ipt-p {
          font-size: 12px;
          color: #ff6633;
          position: absolute;
          bottom: -18px;
          left: 0;
        }
        &-Pre {
          div {
            div {
              display: flex;
              align-items: center;
              font-size: 10px;
              color: #999999;
              margin-bottom: 5px;
              margin-right: 16px;
              span {
                font-size: 14px;
                color: #666666;
              }
              .rad {
                width: 16px;
                height: 16px;
                margin-right: 10px;
                position: relative;
                border: 1px solid #d9d9d9;
                &::after {
                  content: "";
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background-color: #d9d9d9;
                  position: absolute;
                  top: calc((100% - 8px) / 2);
                  left: calc((100% - 8px) / 2);
                }
              }

              .che {
                width: 10px;
                height: 10px;
                margin-left: 3px;
                margin-right: 13px;
                border: none;
                background-color: #3685ff;
              }
            }
          }
        }
        &-Pre1 {
          justify-content: flex-start;
          div {
            // background-color: #999999;
            input {
              width: 110px;
              height: 110px;
              border: 0;
              border-radius: 5px;
              cursor: pointer;
              outline: medium none;
              filter: alpha(opacity=0);
              -moz-opacity: 0;
              opacity: 0;
              position: absolute;
            }
            #but {
              position: absolute;
              width: 110px;
              height: 110px;
              border-radius: 5px;
              background-color: #fafafa;
              border: 1px dashed #707070;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              pointer-events: none;
              span {
                font-size: 12px;
                color: #a9a9a9;
                margin-top: 12px;
              }
            }
          }
          .fi-Tips {
            .fi-Tips-img {
              width: 332px;
              height: 110px;
              // padding: 10px;
              background-color: #dddddd;
              margin-left: 130px;
              p {
                font-size: 12px;
                color: #727472;
                padding: 10px;
              }
              ul {
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                margin-right: 10px;
                li {
                  p {
                    text-align: center;
                    padding: 0;
                    font-size: 10px;
                  }
                }
                span {
                  font-size: 12px;
                }
              }
            }
            .fi-Tips-text {
              width: 400px;
              margin-left: 130px;
              font-size: 12px;
              color: #f5222d;
            }
          }
          .download {
            height: 110px;
            margin-left: 120px;
            display: flex;
            align-items: flex-end;
            font-size: 12px;
            a {
              color: #3685ff;
            }
          }
        }
      }
    }
    .wrap-line {
      border-bottom: 1px dashed #d9d9d9;
      margin-bottom: 30px;
    }
  }

  & button {
    width: 120px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    outline: none;
    border: 0;
    background-color: #999999;
    margin-left: calc(100% / 2 - 100px + 40px);
    margin-bottom: 56px;
    margin-top: 78px;
    a {
      display: block;
      width: 100%;
      height: 32px;
      line-height: 32px;
    }
  }
  .cover {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #013d87;
    opacity: 0.2;
    width: 100%;
    height: 100vh;
  }
  .all {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    .wangdian {
      width: 450px;
      height: 270px;
      background-color: white;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 17%;
      .first {
        color: red;
        margin-left: 35px;
        margin-top: 31px;
        font-size: 12px;
      }
      .third {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-left: 35px;
        margin-top: 100px;
        color: white;
        .queding {
          width: 80px;
          height: 32px;
          background-color: #999999;
          text-align: center;
          line-height: 30px;
          border-radius: 5px;
          cursor: pointer;
        }
        .quxiao {
          width: 80px;
          height: 32px;
          background-color: #999999;
          text-align: center;
          line-height: 30px;
          border-radius: 5px;
          cursor: pointer;
        }
        .queding:hover {
          background-color: #2c9dfc;
        }
        .quxiao:hover {
          background-color: #2c9dfc;
        }
      }
      .peopletype {
        margin-top: 20px;
        margin-left: 35px;
        position: relative;
        font-size: 14px;
        span {
          color: #f5222d;
          margin-right: 3px;
        }
        select {
          margin-left: 2px;
          appearance: none;
          outline: none;
          font-size: 14px;
          color: #bbbbbb;
          border: 1px solid #d9d9d9;
          border-radius: 6px;
          padding-left: 10px;
          width: 250px;
          height: 32px;
        }
        &::after {
          position: absolute;
          top: 13px;
          left: 310px;
          pointer-events: none;
          content: "";
          width: 0;
          height: 0;
          display: inline-block;
          border-top: 8px solid #666666;
          border-bottom: 8px solid transparent;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }
    }
  }
  .all2 {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    .tishi {
      width: 450px;
      height: 240px;
      background-color: white;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 17%;
      padding-top: 30px;
      .first {
        width: 64px;
        height: 21px;
        font-size: 16px;
        font-weight: bold;
        margin: 0 auto;
      }
      .second {
        width: 390px;
        height: 51px;
        font-size: 14px;
        margin: 0 auto;
        margin-top: 35px;
      }
      .thir {
        width: 80px;
        height: 32px;
        background-color: #999999;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        margin: 0 auto;
        margin-top: 80px;
      }
      .thir:hover {
        background-color: #2c9dfc;
      }
    }
  }
}
.header-nav-dss {
  a {
    color: #013d87;
  }
}
.header-nav {
  li {
    a {
      color: #333333;
    }
  }
}
.showUser {
  a {
    display: block;
    // background-color: #3685FF;
    color: #333333;
    // cursor: pointer;
  }
}
.showUser-img {
  margin-left: 10px;
}
