@import "./_audit.scss";
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-width: 1000px;
}

//清除浮动
.clearfd::after {
    content: "";
    display: block;
    clear: both;
}

header::before {
    content: "";
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 6px #ccc;
    z-index: 3;
}

header {
    background-color: #fff;
    position: relative;
    .logo {
        width: 200px;
        height: 80px;
        float: left;
        display: flex;
        align-items: center;
    }
    .head-right {
        margin-left: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-nav {
            width: 220px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 50px;
            li {
                width: 100px;
                height: 80px;
                text-align: center;
                line-height: 80px;
                font-size: 20px;
                color: #333333;
            }
            //默认选中样式 Default selected style dss
            .header-nav-dss {
                font-weight: 600;
                color: #013D87;
                position: relative;
            }
            .header-nav-dss::after {
                content: "";
                width: 100px;
                height: 4px;
                background-color: #013D87;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            //点击选中我的业务,头部header添加下边距20px   
        }
        .showUser {
            width: 180px;
            display: flex;
            justify-content: flex-end;
            margin-right: 40px;
            align-items: center;
        }
    }
}

section {
    display: flex;
    .wrop-left {
        width: 200px;
        height: 100%;
        flex-shrink: 0;
        background-color: #fff;
        .wrop-user {
            //点击头部导航选中我的业务,左侧导航第一个li客户头像部分height减少20px
            display: flex;
            height: 72px;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 20px;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    color: #333;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
        .wrop-left-nav {
            li {
                width: 100%;
                height: 49px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #ECECEC;
                &:hover {
                    background-color: rgba($color: #8EB7E9, $alpha: 0.2);
                    cursor: pointer;
                }
                p {
                    width: 50%;
                    span {
                        color: #333;
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
            }
            // 鼠标悬浮
            //默认选中样式 Default selected style dss
            .nav-dss {
                background-color: rgba($color: #8EB7E9, $alpha: 0.2);
                position: relative;
            }
            .nav-dss::after {
                content: "";
                width: 4px;
                height: 100%;
                background-color: rgba($color: #013D87, $alpha: 0.5);
                position: absolute;
                left: 0;
            }
        }
    }
    .wrop-right {
        width: 100%;
        background-color: #f7f7f7;
    }
}

.table-head {
    li {
        .num {
            width: 9%;
        }
        .num-name {
            flex-grow: 1;
        }
        .for-applicants {
            width: 21.7%;
        }
        .business-application {
            width: 21.7%;
            border-right: none;
        }
    }
}

.table-info {
    li {
        div {
            font-size: 14px;
        }
        .audit-status {
            color: #fc5c5c;
        }
        .operation {
            span:first-child {
                margin-right: 25px;
                color: #e6a23c;
            }
            span:last-child {
                color: #2c9dfc;
            }
        }
        .num {
            width: 9%;
            border-right: 1px solid #aaa;
        }
        .num-name {
            flex-grow: 1;
            border-right: 1px solid #aaa;
            padding-left: 50px;
            box-sizing: border-box;
            text-align: left;
        }
        .for-applicants {
            width: 21.7%;
            border-right: 1px solid #aaa;
            a {
                color: #5b8ff9;
            }
        }
        .business-application {
            width: 21.7%;
            border-right: 1px solid #aaa;
            a {
                color: #5ad8a6;
            }
        }
    }
}