*{
    margin: 0;
    padding: 0;
    list-style: none;
}


header {
   position: relative;
}

/* body {
    /* overflow: hidden; */
/* }  */

a {
    text-decoration: none;
    color: #000;
}

/* 顶部导航 */
.top-nav {
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
	height: 95px;
    z-index: 11111;
    background-color: rgba(102, 102, 102, 0.89);
}

.news-banner {
   margin-top: -95px;
}


.top-nav::before  {
    content: "";
    display: table;
}

.logo {
    width: 361px;
	height: 95px;
	background-color: #ffffff;
	border-radius: 0px 0px 49px 0px;
	opacity: 0.9;
    position: absolute;
    top: 0;
}
.logo .banner {
    margin-top: 23px;
    margin-left: 58px;
}
 
.triangle {
    width: 0;
    height: 0;
    border-width: 13px;
    border-style: solid;
    top: -13px;
    left: 0px;
    position: absolute;
    border-color: transparent transparent #14916a transparent;
    transform: rotate(90deg);
}

/* 顶部导航文字 */

.nav-title  {
    margin-left: 814px;
    width: 700px;
    /* height: 100px; */
    /* background-color: skyblue; */
    position: absolute;
    top: 0;
    margin-top: 30px;
}


.nav-title li {
    float: left;
    
}

.nav-title div {
    position: relative;
}

.nava {
    width: 88px;
	height: 36px;
    opacity: 0.89;
    border-radius: 8px 0 8px 0;
    line-height: 36px;
    font-size: 16px;
    padding-left: 17px;
    color: #dddddd;
}

.navb {
    width: 88px;
	height: 36px;
    opacity: 0.89;
    border-radius: 8px 0 8px 0;
    line-height: 36px;
    font-size: 16px;
    padding-left: 17px;
    /* color: #dddddd; */
    background-color: #fff;
    color: #000;
}


.navc {
    width: 100px;
	height: 36px;
    opacity: 0.89;
    border-radius: 8px 0 8px 0;
    line-height: 36px;
    font-size: 16px;
    padding-left: 17px;
    color: #dddddd;
}

.title-t{
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    top: -42px;
    right: -99px;
    position: absolute;
    border-color: transparent transparent #14916a transparent;
    transform: rotate(45deg);
    
}

.title-tr{
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    top: -42px;
    right: -99px;
    position: absolute;
    border-color: transparent transparent #14916a transparent;
    transform: rotate(45deg);
    display: none;
}
.title-tra{
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    top: -42px;
    right: -111px;
    position: absolute;
    border-color: transparent transparent #14916a transparent;
    transform: rotate(45deg);
    display: none;
}

li:hover .nava,li:hover .navc {
    background-color: #fff;
    color: #000;
}

li:hover .title-tr,li:hover .title-tra {
    display: block;
}



/* 顶部导航右侧图标 */


.tubiao {
    position: absolute;
    top: 36px;
    right: 49px;
}

.tubiao li {
    float: left;
}
.tubiao li:nth-child(2),.tubiao li:nth-child(3),.tubiao li:nth-child(4),.tubiao li:nth-child(5),.tubiao li:nth-child(6) {
    float: left;
    margin-left: 27px;
}

.tubiao li a:hover {
    opacity: 0.5;
}


.triangle1 {
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    top: -16px;
    left: 0px;
    position: absolute;
    border-color: transparent transparent #fff transparent;
    
}

.qr {
    position: absolute;
    top: 35px;
    display: none;
    
}

a:nth-child(1):hover+.qr {
    display: block;
}

/* 顶部背景文字 */
.top-title{
    width: 303px;
	height: 94px;
	
    position: absolute;
    background-color:rgba(20, 145, 106, 0.5) ;
    padding-right: 30px;
    padding-top: 36px;
    text-align: right;
    border-radius: 44px 0 44px 0;
    margin-top: 188px;
    margin-left: 360px;
}


.top-title section{
    font-size: 20px;
	color: #dddddd;
	opacity: 0.8;
    font-weight: bold;
}

.top-title article {
    font-size: 36px;
	color: #dddddd;
	opacity: 0.8;
    font-weight: bold;
}
















/* 版心通栏 */
.container {
    width: 100%;
    height: 1751px;
    background-color: #fafafa;
    margin-top: -5px;
}

.container::before {
    content: "";
    display: table;
}

/* 版心 */
.wrap {
    width: 1200px;
    margin: auto;
    height: 1673px;
    /* background-color: royalblue; */
    background-color:#ffffff;
    margin-top:37px;
    /* border-top: 5px solid #e8e8e8;
    border-bottom: 10px solid #e8e8e8; */
}

/* 图片 */
.wrap::before {
    content: "";
    display: table;
}

.wrap li {
    float: left;
    width: 590px;
    position: relative;
    
}

.wrap li:nth-of-type(2n) {
    margin-left: 20px;
}
.wrap li:nth-of-type(3),.wrap li:nth-of-type(4),.wrap li:nth-of-type(5),.wrap li:nth-of-type(6),.wrap li:nth-of-type(7),.wrap li:nth-of-type(8) {
    margin-top: 20px;
}

/* 图片三角形 */

.wrap-tr{
    width: 0;
    height: 0;
    border-width: 21px;
    border-style: solid;
    top: -21px;
    right: -21px;
    position: absolute;
    border-color: transparent transparent #14916a transparent;
    transform: rotate(45deg);
    /* display: none; */
    opacity: 0.5;
}

.wrap li:hover .wrap-tr {
    opacity: 0;
    transition: all 0.5s;
}

.wrap li:hover .wrap-title {
    opacity: 1;
    transition: all 0.5s;
}

.wrap-title {
    width: 530px;
    height:340px;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 111;
    top: 30px;
    left: 30px;
    opacity: 0;
}

.wrap-title section {
    font-size: 27px;
	color: #f3f3f3;
    margin-top: 142px;
    margin-left: 192px;
}




























/* 底部导航 */
.footer {
    width: 100%;
    height: 444px;
    /* overflow: hidden; */
    background-color: #f3f3f3;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}



.footer::before {
    content: "";
    display: table;
}
.footer-logo {
    text-align: center;
    margin-top: 54px;
    margin-bottom: 21px;
}

.footer-phone{
    width: 447px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 737px; 
    padding-top: 18px;
    position: relative;
    
}


.iconfont {
   font-size: 35px;
    margin-top: 18px;
    margin-left: 49px;
    color: #14916a;
    margin-right: 11px;
}

.left {
    height: 31px;
    width: 5px;
    background-color: #f3f3f3;
    position: absolute;
    left: -5px;
    top: 17px;
}

.right {
    height: 31px;
    width: 5px;
    background-color: #f3f3f3;
    position: absolute;
    right: -5px;
    top: 17px;
}

.footer-phone1  {
    font-size: 22px;
    color: #14916a;
   position: absolute;
   top: 22px;
}

/* 联系我们 */

.contact {
    /* width: 297px; */
    /* height: 132px; */
    /* background-color: skyblue; */
    float: left;
    margin-left: 350px;
    margin-top: 47px;
}

.contact .title {
    font-size: 16px ;
    color: #000;
    margin-bottom: 31px;
} 

.contact a {
    text-decoration: none;
    color: #555555;
}

td:last-child {
    font-size: 12px;
    color: #555555;
}
td:first-child{
   text-align: center;
  padding-right: 6px;
}

table a:hover {
    color: #14916a;
}


/* 快速导航 */
.quick-nav {
    /* width: 393px; */
	height: 114px;
    /* background-color: skyblue; */
    float: left;
    margin-left: 125px;
    margin-top: 47px;
}

.quick-title {
    font-size: 16px ;
    color: #000;
    margin-bottom: 30px;
}

.quick-title1 {
    color: #555555;
    font-size:12px ;
}

.quick-title1 a {
    font-size:12px ;
    color: #555555;
    text-decoration: none;
    padding-right: 7px;
}

.quick-nava {
    padding-left: 7px;
}

.quick-logo {
    margin-top: 25px;
    margin-left: 64px;
}

.quick-title1 a:hover {
    color: #14916a;
    text-decoration: underline;
}


/* 快捷入口 */

.quick-enter {
    /* height: 94px; */
    /* width: 206px; */
    /* background-color: skyblue; */
    float: left;
    margin-left: 128px;
    margin-top: 47px;
}

.enter  {
    font-size: 16px ;
    color: #000;
}

.enter-icon {
    margin-top: 34px;
    position: relative;
}

.enter-icon a {
    padding-right: 12px;
}

.qr2 {
    position: absolute;
    top: 40px;
    display: none;
    
}

.enter-icon a:hover {
    opacity: 0.5;
}

.qr-enter:hover+.qr2 {
    display: block;
}


.enter2 {
    font-size: 14px;
    color: #14916a;
    margin-top: 25px;
}

/* 底部版权 */

.cop{
   width: 100%;
   height: 47px;
   background-color: #f3f3f3;
}
.cop::before {
   content: "";
   display: table;
}
.cop article {
    font-size: 12px;
    color: #555555;
    margin-top: 18px;
    margin-left: 777px;
}