* {
  user-select: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 1000px;
}

.clearfd .alogo {
  width: 200px;
  height: 80px;
}

.clearfd::after {
  content: "";
  display: block;
  clear: both;
}

header::before {
  pointer-events: none;
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 6px #ccc;
  z-index: 3;
}

header {
  background-color: #fff;
  position: relative;
}
header .logo {
  width: 200px;
  height: 80px;
  float: left;
  display: flex;
  align-items: center;
}
header .logo div {
  width: 189px;
  height: 40px;
  background: url("../img/lodingimg/logo.svg") no-repeat center;
  background-size: 100%;
}
header .head-right {
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-right .header-nav {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
header .head-right .header-nav li {
  width: 100px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: #333333;
}
header .head-right .header-nav .header-nav-dss {
  font-weight: 600;
  color: #013d87;
  position: relative;
}
header .head-right .header-nav .header-nav-dss::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #013d87;
  position: absolute;
  bottom: 0;
  left: 0;
}
header .head-right .showUser {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  align-items: center;
}
header .head-right .showUser .showUser-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: brown;
  background: url("../img/lodingimg/personal-headimg.svg") no-repeat center;
  background-size: 100%;
}

section .wrop-left {
  float: left;
  width: 200px;
  height: 100%;
  background-color: #fff;
}
section .wrop-left .wrop-user {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}
section .wrop-left .wrop-user div {
  display: flex;
  /* width: 100%;
  margin-top: 20px; */
  justify-content: center;
  align-items: center;
}
section .wrop-left .wrop-user div .wrop-userimg {
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: aqua;
  background: url("../img/lodingimg/personal-headimg.svg") no-repeat center;
  background-size: 100%;
}
section .wrop-left .wrop-user div span {
  color: #333;
  font-size: 20px;
  margin-left: 10px;
}
section .wrop-left .wrop-left-nav li {
  width: 100%;
  height: 49px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
section .wrop-left .wrop-left-nav li:hover {
  background-color: rgba(142, 183, 233, 0.2);
  cursor: pointer;
}
section .wrop-left .wrop-left-nav li i {
  width: 20px;
  height: 20px;
  background-image: url("../img/iocn.png");
}
section .wrop-left .wrop-left-nav li .iocn1 {
  background-position-y: -45px;
  background-position-x: 0;
}
section .wrop-left .wrop-left-nav li .iocn2 {
  background-position-y: -95px;
  background-position-x: 2px;
}
section .wrop-left .wrop-left-nav li .iocn3 {
  background-position-y: -283px;
  background-position-x: 40px;
}
section .wrop-left .wrop-left-nav li .iocn4 {
  background-position-y: -283px;
  background-position-x: 40px;
}
section .wrop-left .wrop-left-nav li .iocn5 {
  background-position-y: -283px;
  background-position-x: 40px;
}
section .wrop-left .wrop-left-nav li .iocn6 {
  background-position-y: -283px;
  background-position-x: 40px;
}
section .wrop-left .wrop-left-nav li .iocn7 {
  background-position-y: -283px;
  background-position-x: 40px;
}
section .wrop-left .wrop-left-nav li p {
  width: 50%;
}
section .wrop-left .wrop-left-nav li p span {
  color: #333;
  font-size: 14px;
  margin-left: 10px;
}
section .wrop-left .wrop-left-nav .nav-dss {
  background-color: rgba(142, 183, 233, 0.2);
  position: relative;
}
section .wrop-left .wrop-left-nav .nav-dss::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: rgba(1, 61, 135, 0.5);
  position: absolute;
  left: 0;
}
section .wrop-right {
  height: 100%;
}

header .head-right .showUser {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  align-items: center;
}
header .head-right .showUser .showUser-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: brown;
  background: url("../img/blueuser.png") no-repeat center;
  background-size: 100%;
}

section .wrop-left .wrop-user {
  background-color: rgba(142, 183, 233, 0.2);
  position: relative;
}
section .wrop-left .wrop-user::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: rgba(1, 61, 135, 0.5);
  position: absolute;
  left: 0;
  top: 0px;
}

.wrop-right {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  background-color: #f7f7f7;
}
.wrop-right .setpassword {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  margin-top: 20px;
  width: 1680px;
  height: 940px;
  background-color: #ffffff;
  margin-bottom: 38px;
}
.wrop-right .setpassword .settext {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 18px;
  font-weight: normal;
  color: #666666;
}
.wrop-right .setpassword span {
  margin-top: 53px;
  margin-left: 28px;
  width: 744px;
  height: 0px;
  border: dotted 1px #d9d9d9;
}
.wrop-right .setpassword .setInfo {
  font-size: 14px;
  width: 60%;
  height: 850px;
  padding-left: 140px;
}
.wrop-right .setpassword .setInfo .outside .opassword,
.wrop-right .setpassword .setInfo .outside .npassword,
.wrop-right .setpassword .setInfo .outside .repassword {
  margin-top: 13px;
  margin-left: 13px;
  padding-left: 10px;
  font-size: 14px;
  color: #bbbbbb;
  width: 250px;
  height: 32px;
  outline: none;
  background-color: #ffffff;
  border-radius: 1px;
  border: solid 1px #d9d9d9;
}
.wrop-right .setpassword .setInfo .outside .check {
  cursor: pointer;
  border: transparent;
  margin-top: 20px;
  margin-left: 83px;
  border-radius: 8px;
  width: 80px;
  height: 32px;
  background-color: #013d87;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.wrop-right .setpassword .setInfo .outside:nth-child(2) {
  margin-top: 17px;
  margin-left: 13px;
}
.wrop-right .setpassword .setInfo .outside:nth-child(3) {
  margin-bottom: 10px;
  margin-top: 17px;
  margin-left: 13px;
}
.wrop-right .setpassword .setInfo .outside:nth-child(3) .repassword {
  margin-left: 0px;
}

section .wrop-left .wrop-user div .wrop-userimg {
  background: url("../img/blueusertwo.png") no-repeat center;
}
section .wrop-left .wrop-user div span {
  color: #013d87;
} /*# sourceMappingURL=resetpassword.css.map */
