body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

input, button, select {
  outline: none;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box .header {
  height: 80px;
}

.box .left {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 80px;
  bottom: 0;
}

.box .right {
  height: 100%;
  margin-left: 200px;
  background: #f7f7f7;
}

.header {
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}

.header li {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-right: 38px;
  float: left;
}

.header li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header li.show a {
  font-weight: bold;
  color: #013d87;
  border-bottom: 3px solid;
  border-color: currentColor;
}

.header li.logobox {
  width: auto;
}

.header li.logobox .logo {
  height: 40px;
  margin-top: 20px;
}

.header li.logobox .logo img {
  float: left;
}

.header li.logobox .logo img:nth-child(1) {
  height: 40px;
  width: 40px;
}

.header li.logobox .logo img:nth-child(2) {
  height: 32px;
  margin-top: 4px;
}

.header li.userbox {
  width: auto;
  float: right;
  position: relative;
}

.header li.userbox i {
  display: block;
  height: 50px;
  margin-top: 15px;
  line-height: 50px;
  font-size: 20px;
}

.header li.userbox i img {
  width: 50px;
  height: 50px;
  margin-left: 12px;
}

.header li.userbox i .header_userinfor {
  height: 120px;
  width: 120px;
  list-style: none;
  display: none;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 75px;
  padding-left: 0;
  z-index: 999;
}

.header li.userbox i .header_userinfor li {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #aaaaaa;
  text-align: center;
  line-height: 40px;
}

.header li.userbox i .header_userinfor li a {
  text-decoration: none;
  color: #aaa;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.header li.userbox i .header_userinfor li:hover a {
  color: #fff;
}

.header li.userbox i .header_userinfor li:nth-of-type(3) {
  border-bottom: none;
}

.header .userbox:hover .header_userinfor {
  display: block;
}

.header .header_userinfor li:hover {
  background-color: #013d87;
}

.left li {
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left li.userPort {
  overflow: hidden;
  height: 92px;
  font-size: 20px;
}

.left li.userPort a {
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left li.userPort a span {
  display: block;
  height: 40px;
  text-align: center;
  margin-top: 26px;
  line-height: 40px;
}

.left li.userPort a span img {
  width: 40px;
  height: 40px;
}

.left li:not(.userPort) {
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-left: 4px solid #fff;
  position: relative;
}

.left li:not(.userPort) a {
  color: #747774;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left li:not(.userPort) i {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.left li:not(.userPort) span {
  position: absolute;
  right: 6px;
  top: 19px;
  background: #ff5542;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  display: none;
}

.left li:not(.userPort).show {
  background: rgba(142, 183, 233, 0.4);
  border-left: 4px solid rgba(1, 61, 135, 0.5);
}

.left li:not(.userPort).show a {
  color: #013d87;
}

.left li:not(.userPort).show a span {
  display: block;
}

.right {
  overflow: auto;
}

.right .right-info {
  margin: 20px;
  height: 50px;
  line-height: 50px;
  background: #ffefea;
  border-radius: 8px;
  font-size: 14px;
  color: #ff6633;
  padding-left: 50px;
  position: relative;
}

.right .right-info i {
  position: absolute;
  width: 16px;
  height: 18px;
  background: url(../img/right_info.png) no-repeat 100% 100%;
  top: 50%;
  left: 22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ja {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.center {
  margin: 0 20px;
  height: 900px;
  margin-bottom: 140px;
  background-color: #fff;
}

.center .loction {
  height: 60px;
  background-color: #fff;
  margin-top: 20px;
  border-bottom: 1px solid #f7f7f7;
  font-size: 18px;
  line-height: 60px;
  color: #666666;
  text-indent: 1em;
}

.center .step {
  width: 435px;
  height: 100px;
  margin: 0 auto;
  margin-top: 43.7px;
}

.center .step .step-radius {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
}

.center .step .one {
  margin-left: 30px;
  color: #ff9572;
  border: 1px solid #ff9572;
}

.center .step .two {
  margin-right: 30px;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
}

.center .step .step-line {
  width: 310px;
  height: 1px;
  margin-top: 20px;
  border-bottom: 1px dashed #e4e4e4;
}

.center .step .step-bom {
  width: 435px;
  height: 60px;
}

.center .step .step-bom .step-text-one {
  width: 96px;
  height: 40px;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #ff9572;
}

.center .step .step-bom .step-text-two {
  width: 96px;
  height: 40px;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #e4e4e4;
}

.center .center-cer {
  width: 560px;
  height: 200px;
  margin: 0 auto;
  margin-top: 40px;
}

.center .center-cer .but {
  width: 330px;
  height: 32px;
  line-height: 32px;
  position: relative;
}

.center .center-cer .but p {
  color: #333333;
}

.center .center-cer .but p span {
  color: #f5222d;
}

.center .center-cer .but p select {
  width: 154px;
  height: 26px;
  outline-style: none;
  border: 1px solid #ccc;
  color: #1b1919;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  text-indent: 0.5em;
}

.center .center-cer .but .triangle {
  width: 0;
  height: 0;
  border-width: 0px 5px 7px 5px;
  border-style: solid;
  border-color: transparent transparent #000;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-top: -19px;
  margin-left: 310px;
}

.center .center-cer .certificate {
  width: 480px;
  height: 120px;
  margin-left: 80px;
  margin-top: 20px;
}

.center .center-cer .certificate p {
  color: #333;
}

.center .center-cer .certificate p span {
  color: #f5222d;
}

.center .center-cer .certificate .certer-bor {
  width: 110px;
  height: 110px;
  margin-left: 80px;
  margin-top: -20px;
  background-color: #fafafa;
  border: 1px dashed #929292;
  text-align: center;
  color: #d9d9d9;
  margin-left: 90px;
}

.center .center-cer .certificate .certer-bor .bor-w {
  width: 16px;
  height: 2px;
  background-color: #d9d9d9;
  margin: -66px 47px 0px 47px;
}

.center .center-cer .certificate .certer-bor .bor-h {
  width: 2px;
  height: 16px;
  background-color: #d9d9d9;
  margin-left: 54px;
  margin-top: -9px;
  margin-bottom: 12px;
}

.center .center-cer .certificate .certer-bor .bor-ipt {
  opacity: 0;
  display: inline-block;
  width: 110px;
  height: 110px;
  background-color: #000;
}

.center .center-cer .certificate .certer-bor .sc {
  margin-top: 9px;
  font-size: 12px;
  color: #a9a9a9;
}

.center .center-cer .certificate .pic-box {
  width: 252px;
  height: 110px;
  background-color: #dddddd;
  margin-left: 220px;
  margin-top: -110px;
  font-size: 12px;
  color: #808280;
}

.center .center-cer .certificate .pic-box .box-text {
  margin-left: 10px;
  margin-top: 5px;
}

.center .center-cer .certificate .pic-box .box-identity {
  margin-top: 10px;
}

.center .center-cer .certificate .pic-box .box-business {
  margin-top: 15px;
  margin-right: 5px;
}

.center .footer {
  width: 120px;
  height: 32px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  margin-top: 320px;
  letter-spacing: 2px;
}

.center .footer a {
  text-decoration: none;
  color: #fff;
}

.center .footer:hover {
  background-color: steelblue;
}
/*# sourceMappingURL=brand_subsequent_apply.css.map */