body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

input, button, select {
  outline: none;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box .header {
  height: 80px;
}

.box .left {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 80px;
  bottom: 0;
}

.box .right {
  height: 100%;
  margin-left: 200px;
  background: #f7f7f7;
}

.header {
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}

.header li {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-right: 38px;
  float: left;
}

.header li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header li.show a {
  font-weight: bold;
  color: #013d87;
  border-bottom: 3px solid;
  border-color: currentColor;
}

.header li.logobox {
  width: auto;
}

.header li.logobox .logo {
  height: 40px;
  margin-top: 20px;
}

.header li.logobox .logo img {
  float: left;
}

.header li.logobox .logo img:nth-child(1) {
  height: 40px;
  width: 40px;
}

.header li.logobox .logo img:nth-child(2) {
  height: 32px;
  margin-top: 4px;
}

.header li.userbox {
  width: auto;
  float: right;
  position: relative;
}

.header li.userbox i {
  display: block;
  height: 50px;
  margin-top: 15px;
  line-height: 50px;
  font-size: 20px;
}

.header li.userbox i img {
  width: 50px;
  height: 50px;
  margin-left: 12px;
}

.header li.userbox i .header_userinfor {
  height: 120px;
  width: 120px;
  list-style: none;
  display: none;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 75px;
  padding-left: 0;
  z-index: 999;
}

.header li.userbox i .header_userinfor li {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #aaaaaa;
  text-align: center;
  line-height: 40px;
}

.header li.userbox i .header_userinfor li a {
  text-decoration: none;
  color: #aaa;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.header li.userbox i .header_userinfor li:hover a {
  color: #fff;
}

.header li.userbox i .header_userinfor li:nth-of-type(3) {
  border-bottom: none;
}

.header .userbox:hover .header_userinfor {
  display: block;
}

.header .header_userinfor li:hover {
  background-color: #013d87;
}

.left li {
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left li.userPort {
  overflow: hidden;
  height: 92px;
  font-size: 20px;
}

.left li.userPort a {
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left li.userPort a span {
  display: block;
  height: 40px;
  text-align: center;
  margin-top: 26px;
  line-height: 40px;
}

.left li.userPort a span img {
  width: 40px;
  height: 40px;
}

.left li:not(.userPort) {
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-left: 4px solid #fff;
  position: relative;
}

.left li:not(.userPort) a {
  color: #747774;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left li:not(.userPort) i {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.left li:not(.userPort) span {
  position: absolute;
  right: 6px;
  top: 19px;
  background: #ff5542;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  display: none;
}

.left li:not(.userPort).show {
  background: rgba(142, 183, 233, 0.4);
  border-left: 4px solid rgba(1, 61, 135, 0.5);
}

.left li:not(.userPort).show a {
  color: #013d87;
}

.left li:not(.userPort).show a span {
  display: block;
}

.header li.show a {
  border-bottom: 0;
}

.left li.userPort a {
  color: #333;
  background: rgba(142, 183, 233, 0.2);
  border-left: 4px solid rgba(1, 61, 135, 0.5);
}

.header li.show a {
  color: #333;
  font-weight: normal;
}

.right {
  overflow: hidden;
}

.right .right-box {
  margin: 20px 20px;
  height: calc(100% - 120px);
  background: #fff;
}

.right .right-box {
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.right .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right .text h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin-right: 28px;
  color: #666;
}

.right .text span {
  width: 46.44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right .text span i {
  display: block;
  width: 100%;
  border-top: dashed 1px #ddd;
  margin: auto;
}

.right form {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-left: 6.55%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
  margin-left: 16px;
}

.right form input::-webkit-input-placeholder {
  color: #bbb;
}

.right form input:-ms-input-placeholder {
  color: #bbb;
}

.right form input::-ms-input-placeholder {
  color: #bbb;
}

.right form input::placeholder {
  color: #bbb;
}

.right form .password {
  margin-bottom: 30px;
}

.right form span {
  line-height: 32px;
  font-size: 14px;
  color: #333;
}

.right form .affirm {
  background-color: #013d87;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 170px;
}

.upd-pass form {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-left: 6.55%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.upd-pass form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
  margin-left: 16px;
  margin-bottom: 30px;
  color: #333;
}

.upd-pass form input::-webkit-input-placeholder {
  color: #bbb;
}

.upd-pass form input:-ms-input-placeholder {
  color: #bbb;
}

.upd-pass form input::-ms-input-placeholder {
  color: #bbb;
}

.upd-pass form input::placeholder {
  color: #bbb;
}

.upd-pass form span {
  line-height: 32px;
  font-size: 14px;
  color: #333;
}

.upd-pass form .affirm {
  background-color: #013d87;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-right: 170px;
}

.upd-pass form .affirm:hover {
  cursor: pointer;
}

.set-pass {
  display: none;
}

.upd-pass {
  display: block;
}

.mb-allbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.mb-allbox .mb-box {
  position: absolute;
  background: #fff;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.mb-allbox .mb-box .mb-info {
  color: #f63;
}

.mb-allbox .mb-box .mb-info img {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.batch-del {
  display: none;
}

.batch-del .mb-box {
  width: 450px;
  height: 174px;
}

.batch-del .mb-box h1 {
  font-size: 16px;
  margin: 30px auto 20px;
}

.batch-del .mb-box p {
  color: #333;
  margin-bottom: 20px;
}

.batch-del .mb-box .batch-del-btnbox {
  padding: 0 30px;
  height: 32px;
}

.batch-del .mb-box .batch-del-btnbox .batch-del-on {
  width: 80px;
  height: 32px;
  float: left;
  border: none;
  color: #fff;
  background: #2c9dfc;
  border-radius: 3px;
}

.batch-del .mb-box .batch-del-btnbox .batch-del-off {
  width: 80px;
  height: 32px;
  float: right;
  border: none;
  color: #fff;
  background: #999999;
  border-radius: 3px;
}
/*# sourceMappingURL=brand_password.css.map */