@import "./_reset.scss";
@import "./_public.scss";
//客户页面高亮样式
.header li.show a {
  border-bottom: 0;
}
.left li.userPort {
  a {
    color: #333;
    background: rgba(142, 183, 233, 0.2);
    border-left: 4px solid rgba(1, 61, 135, 0.5);
  }
}
.header li.show a {
  color: #333;
  font-weight: normal;
}
// 右侧整体布局
.right {
  overflow: hidden;
  .right-box {
    margin: 20px 20px;
    height: calc(100% - 120px);
    background: #fff;
  }
}
// 设置密码
.right {
  .right-box {
    padding: 40px;
    box-sizing: border-box;
  }
  .text {
    display: flex;
    h2 {
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
      margin-right: 28px;
      color: #666;
    }
    span {
      width: 46.44%;
      display: flex;
      i {
        //i标签用来设置虚线
        display: block;
        width: 100%;
        border-top: dashed 1px #ddd;
        margin: auto;
      }
    }
  }
  form {
    margin-top: 35px;
    display: flex;
    width: 350px;
    margin-left: 6.55%;
    flex-wrap: wrap;
    justify-content: flex-end;
    input {
      box-sizing: border-box;
      width: 250px;
      height: 32px;
      border: 1px solid #d9d9d9;
      border-radius: 1px;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      margin-left: 16px;
    }
    input::placeholder {
      //提示文字颜色
      color: #bbb;
    }
    .password {
      margin-bottom: 30px;
    }
    span {
      line-height: 32px;
      font-size: 14px;
      color: #333;
    }
    .affirm {
      background-color: #013d87;
      width: 80px;
      height: 32px;
      line-height: 32px;
      color: #fff;
      font-size: 14px;
      border: none;
      outline: none;
      border-radius: 4px;
      margin-top: 20px;
      margin-right: 170px;
    }
  }
}

// 修改密码
.upd-pass {
  form {
    margin-top: 25px;
    display: flex;
    width: 350px;
    margin-left: 6.55%;
    flex-wrap: wrap;
    justify-content: flex-end;
    input {
      box-sizing: border-box;
      width: 250px;
      height: 32px;
      border: 1px solid #d9d9d9;
      border-radius: 1px;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      margin-left: 16px;
      margin-bottom: 30px;
      color: #333;
    }
    input::placeholder {
      //提示文字颜色
      color: #bbb;
    }
    span {
      line-height: 32px;
      font-size: 14px;
      color: #333;
    }
    .affirm {
      background-color: #013d87;
      width: 80px;
      height: 32px;
      line-height: 32px;
      color: #fff;
      font-size: 14px;
      border: none;
      outline: none;
      border-radius: 4px;
      margin-right: 170px;
    }
    .affirm:hover {
      cursor: pointer;
    }
  }
}
//设置/修改密码切换
.set-pass {
  display: none;
}
.upd-pass {
  display: block;
}

// 蒙版公共样式
.mb-allbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  .mb-box {
    position: absolute;
    background: #fff;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .mb-info {
      color: #f63;
      img {
        position: relative;
        top: 2px;
        margin-right: 10px;
      }
    }
  }
}
// 批量删除
.batch-del {
  display: none;
  // display: block;
  .mb-box {
    width: 450px;
    height: 174px;
    h1 {
      font-size: 16px;
      margin: 30px auto 20px;
    }
    p {
      color: #333;
      margin-bottom: 20px;
    }
    .batch-del-btnbox {
      padding: 0 30px;
      height: 32px;
      .batch-del-on {
        width: 80px;
        height: 32px;
        float: left;
        border: none;
        color: #fff;
        background: #2c9dfc;
        border-radius: 3px;
      }
      .batch-del-off {
        width: 80px;
        height: 32px;
        float: right;
        border: none;
        color: #fff;
        background: #999999;
        border-radius: 3px;
      }
    }
  }
}
