@import "./_reset.scss";
@import "./_public.scss";
.right{
  overflow: auto;
}
// 自定义下拉菜单
.select {
  width: 154px;
  height: 32px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  outline: none;
  color: #777777;
  line-height: 32px;
  padding-left: 10px;
  font-size: 14px;
  position: relative;
 
  .option_all {
    width: 154px;
    position: absolute;
    top: 33px;
    left: 0;
    border-radius: 4px;
    background-color: white;
    display: none;
    z-index: 5;
    .option {
      line-height: 32px;
      height: 32px;
      width: 154px;
      font-size: 14px;
      padding-left: 10px;
    }
    .option:nth-of-type(odd) {
      background-color: #fafafa;
    }
    .option:nth-of-type(even) {
      background-color: white;
    }
    .option:hover {
      background-color: #fff6f0;
      border-radius: 4px;
    }
  }
}
.select:hover{
  // box-shadow: 0 0 3px #ff6633;
  border: 1px solid #ff6633;
}
.select:hover .option_all{
  display: block;
  cursor: pointer;
}
         
.main {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background: rgb(247, 247, 247);
    margin-bottom: 40px;
    section {
      display: block;
      flex-grow: 1;
      padding: 20px;
      //! 中间部分顶部的警告条
      .prompt_bar {
        height: 50px;
        box-sizing: border-box;
        border-radius: 8px;
        padding-left: 10px;
        display: flex;
        align-content: center;
        svg {
          margin: 15px 10px;
        }
         .prompt_content {
          line-height: 50px;
          font-size: 14px;
        }
      }
      .prompt_step2 {
        background-color: #ffe5e5;
        color: #f5222d;
      }
      //! 中间主体内容
      .content {
        margin: 20px 0 40px 0;
        // min-height: calc(100vh - 230px);
        border-radius: 8px;
        background: #fff;
        .content_nav {
          height: 75px;
          border-bottom: rgba($color: #000000, $alpha: 0.16) 1px solid;
          padding-left: 20px;
          box-sizing: border-box;
          line-height: 75px;
        }
        .content_infor_wrap {
          width: 970px;
          margin: 0 auto;
          min-height: calc(100vh - 305px);
          box-sizing: border-box;
          //!步骤条
          .infor_step_bar {
            height: 188px;
            display: flex;
            align-items: center;
            padding-left: 25px;
            box-sizing: border-box;
            .step {
              position: relative;
              .circle {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                border: 1px solid #d9d9d9;
                line-height: 30px;
                text-align: center;
                color: #d9d9d9;
              }
              .procedure {
                position: absolute;
                text-align: center;
                height: 22px;
                width: 80px;
                font-size: 8px;
                left: -24px;
                top: 35px;
                color: #d9d9d9;
              }
              //! 控制步骤条 文字高亮显示

              .step2_content{
                  color: #ff6633;
              }
              .step1_content{
                color: #333;
            }
            }
            //! 控制步骤条 圈高亮显示
            .step_bar2{
                .circle{
                    border-color: #ff6633;
                    color: #ff6633;
                }
            }
            .step_bar1{
              .circle{
                  border-color: #333;
                  color: #333;
              }
          }
            .line {
              width: 300px;
              border-top: 1px dashed #333333;
            }
          }
          .infor_detail_step2 {
            padding-top: 12px;
            padding-bottom: 80px;
            font-size: 14px;
            display: block;
            box-sizing: border-box;
            position: relative;
            .asterisk {
              color: #f5222d;
            }
            .key_title {
              width: 170px;
              height: 20px;
              color: #333333;
              display: flex;
              justify-content: flex-end;
            }
            input {
              height: 32px;
              width: 350px;
              border: 1px solid #e2e2e2;
              border-radius: 4px;
              outline: none;
              padding-left: 10px;
              color: #333333;
              font-size: 14px;
            }
            input:hover {
              // box-shadow: 0 0 3px #ff6633;
              border: 1px solid #ff6633;
            }
            .point_out {
              position: absolute;
              display: flex;
              align-items: center;
              left: 530px;
              top: 10px;
              .point_out_logo {
                margin: 0 10px;
              }
              .point_out_content {
                font-size: 10px;
                color: #f5222d;
              }
            }
            //! 分隔线以上部分
            .required {
              padding-bottom: 10px;
              .user_name {
                display: flex;
                align-items: center;
                margin: 15px 0;
                position: relative;
              }
              .id_number {
                display: flex;
                align-items: center;
                margin: 15px 0;
                position: relative;
              }
              .id_type {
                display: flex;
                align-items: center;
                margin: 15px 0;
              }
              .address_infor {
                display: flex;
                align-items: center;
                margin: 15px 0;
                position: relative;
              }
              .phone_number {
                display: flex;
                align-items: center;
                margin: 15px 0;
                position: relative;
              }
              .provice_city {
                display: flex;
                align-items: center;
                margin: 15px 0;
                .provice_name {
                  display: flex;
                  align-items: center;
                  .provice_select {
                    width: 154px;
                  }
                }
                .city_name {
                  margin-left: 40px;
                  display: flex;
                  align-items: center;
                  .city_select {
                    width: 154px;
                  }
                }
              }
            }
            .middle_line {
              width: 1200px;
              height: 1px;
              border-top: 1px dotted #d9d9d9;
              position: absolute;
              left: -230px;
            }
            //! 分割线以下部分
            .norequired {
              padding-top: 10px;
              .english_name {
                display: flex;
                align-items: center;
                line-height: 20px;
                position: relative;
                input {
                  margin: 15px 0;
                }
              }
              .represeentative {
                display: flex;
                align-items: center;
                line-height: 20px;
                position: relative;
                input {
                  margin: 15px 0;
                }
              }
              .english_address {
                display: flex;
                align-items: center;
                line-height: 20px;
                position: relative;
                input {
                  margin: 15px 0;
                }
              }
              .apply_person_nationality {
                display: flex;
                align-items: center;
                line-height: 20px;
                position: relative;
                input {
                  margin: 15px 0;
                }
              }
              .zip_code {
                display: flex;
                align-items: center;
                line-height: 20px;
                position: relative;
                input {
                  margin: 15px 0;
                }
              }
            }
            //! 底部下一步按钮
            button {
              width: 120px;
              height: 32px;
              border-radius: 4px;
              border: none;
              background-color: #999999;
              outline: none;
              color: #fff;
              display: block;
              margin: 200px auto 0;
            }
            button:hover{
              background-color: #2C9DFC;
              cursor: pointer;
            }
          }
        }
    }
  
}
} 
//!点击提示信息
.black_veil{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.16);
  z-index: 990;
  display: none;
  .point_out_window1 {
    width: 450px;
    height: 270px;
    border-radius: 8px;
    background-color: #fff;
    padding: 30px;
    margin: 30vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      font-size: 16px;
      color: #f50909;
      text-align: center;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: #333333;
      margin-top: 30px;
    }
    .confirm {
      background-color: #2c9dfc;
      display: block;
      margin: 0 auto;
      margin-top: 150px;
    }
    button {
      width: 80px;
      height: 32px;
      border-radius: 4px;
      color: white;
      outline: none;
      border: none;
    }
  }
} 
  